workspace "terminal"
workspace "browser"
workspace "misc1"
workspace "spotify"
workspace "discord"
workspace "explorer"
workspace "agents"
workspace "vscode"
workspace "sioyek"
workspace "zotero"
workspace "scratch"
