# {
# #	acme_dns porkbun {
# #		api_key @porkbun-api-key@
# #		api_secret_key @porkbun-secret-key@
# #	}
#
# 	log {
# 		level ERROR
# 	}
# }
#
#
{
  debug

  # crowdsec {
  #   api_url http://localhost:8081
  #   api_key @crowdsec-caddy-bouncer-key@
  #   ticker_interval 15s
  #   #disable_streaming
  #   #enable_hard_fails
  # }
}

auth.justinoh.io {
	log {
		output file /var/log/caddy/access.log
	}
  # route {
  #   crowdsec
  # }
	reverse_proxy http://192.168.100.16:9091
}

justinoh.io {
  log {
    output file /var/log/caddy/access.log
  }
  forward_auth 192.168.100.16:9091 {
    uri /api/authz/forward-auth
## The following commented line is for configuring the Authelia URL in the proxy. We strongly suggest
## this is configured in the Session Cookies section of the Authelia configuration.
# uri /api/authz/forward-auth?authelia_url=https://auth.justinoh.io/
    copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
  }

  reverse_proxy http://localhost:8765

}

changedetection.justinoh.io {
	log {
		output file /var/log/caddy/access.log
	}
  # route {
  #   crowdsec
  # }
	reverse_proxy http://192.168.100.12:5000
}

files.justinoh.io {
	log {
		output file /var/log/caddy/access.log
	}
  # route {
  #   crowdsec
  # }
	reverse_proxy http://192.168.100.8:80
}

paperless.justinoh.io {
	log {
		output file /var/log/caddy/access.log
	}
  # route {
  #   crowdsec
  # }
	reverse_proxy http://192.168.100.14:28981 {
		header_down Referrer-Policy "strict-origin-when-cross-origin"
	}
}

photos.justinoh.io {
	log {
		output file /var/log/caddy/access.log
	}
  # route {
  #   crowdsec
  # }
	reverse_proxy http://192.168.100.6:2283
}

vault.justinoh.io {
	log {
		output file /var/log/caddy/access.log
	}
  # route {
  #   crowdsec
  # }
	reverse_proxy http://localhost:8222
}
