* {
  font-family: "SFProDisplay Nerd Font";
}

window {
  background: transparent;
}

box.main {
  padding: 0.8rem;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

text {
  min-height: 30px;
  font-size: 1.6rem;
  padding: 5px;
  border-radius: 5px;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match.description {
  font-size: 10px;
}

label.plugin.info {
  font-size: 14px;
}

.match {
  background: transparent;
  padding-left: 0.3rem;
}

.match:selected {
  /* border-left: 4px solid @theme_selected_bg_color; */
  background: #0b0f10;
  border: 1px solid #0b0f10;
  padding: 0.3rem 0rem;
  border-radius: 8px;
  animation: fade 0.1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

